html{
    font-family: 'Montserrat', sans-serif;
}

.oscuro{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
}


header {
    background-color: rgba(0,0,0);
    width: 100%;
    position: fixed;
    padding: 20px;
    margin: 0px;
    font-size: 400;
}
.titulo{
    font-size: 30px;
    color: #f1eded;
    
}
* {
    padding: 0px;
    margin: 0px;
}

#oscuroclaro{
    border-radius: 100px;
    border-color: azure;
    float: right;
}
.articulo{
  
    min-height: 200px;
    margin: 0px 90px 30px 90px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(5, 19, 145);
    border-radius: 20px;
    padding: 20px;
    
    
    /* background-color: red; */
}
#up{
    height: 85px;
    max-width: 1100;
    padding: 10;
}
.left{
    float: left;
}
.rigth{
    float:right;
}
ul li {
    padding: 0px 0px 0px 5px;
    padding-left: 0;
}

.lista{
    padding: 0px 0px 0px 30px;
}
.listaEnLista{
    padding: 0px 0px 0px 50px;
}
.tNegro{
    color: rgb(79, 76, 250);
}
footer{
    background-color: #5e5e5e;
}
footer h2, footer a{
    text-decoration: #f1eded;
}