html{
    font-family: 'Montserrat', sans-serif;
    -webkit-text-size-adjust:nome;
    font-size: 100%;
}

.oscuro{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left,#3e2257, #72456b)
}

header {
    background-color: rgba(0,0,0);
    width: 98%;
    position: fixed;
    padding: 20px 20px 20px 20px ;
    margin: 0px;
    font-size: 400;
}
header button {
    font-size: 15px;
}
.titulo{
    font-size: 35px;
    color: #f1eded;
    
}
* {
    padding: 0px;
    margin: 0px;
}

#oscuroclaro{
    border-radius: 100px;
    border-color: azure;
    float: right;
}

.articulo{
    
    max-width: 1200px;
    margin: 10px 10px 10px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(5, 19, 145);
    border-radius: 20px;
    padding: 20px;

}
#up{
    height: 85px;
    max-width: 1100;
    padding: 10;
}
.left{
    float: left;
}
.rigth{
    float:right;
    
}
ul li {
    padding: 0px 0px 0px 5px;
    padding-left: 0;
    
}

.lista{
    padding: 0px 0px 0px 30px;
}
.listaEnLista{
    padding: 0px 0px 0px 50px;
}
.tNegro{
    color: rgb(128, 150, 250);
}
.link_mail{
    color: rgb(111, 131, 245);
}
.link_varios{
    color: rgb(0, 255, 13);
    font-size: 15px;
}
footer{
    text-align: center;
    padding: 15px;
    background: rgba(8, 8, 8, 0.9);
}
footer h2, footer a{
    
    text-decoration: #f1eded;
    
} 
.container_center {
    margin-left: auto;
    margin-right: auto; 
    
}

.image_center{
   text-align: center;
 
}



@media not screen and (max-device-width: 700px) {
    .width_imagen {
        max-width: 60%;
    }
    .color_de_fondo_texto {
        background-color: #5e5e5e;
        background: rgba(8, 8, 8, 0.9);
    }
}

@media screen and (max-device-width:450px)  {
    .width_imagen {
        max-width:100%;
    }
    .color_de_fondo_texto {
        background-color: #5e5e5e;
        background: rgba(8, 8, 8, 0.7);
    }
}

